.btn{
    background-color: rgb(102,153,255);
}
#inputCanvas{
    border: 2px solid rgb(102,153,255);
}
#footer{
    margin-top: 100px;
}
<style type="text/css">
.highlight {
  box-shadow: inset 0 0 3px 3px white;
}
</style>
